.search {
	width: 80%;
}

.search_text {
	width: 30%;
}

.search_bottom {
	width: 8%;
}

.user {
	margin-top: 0.5%;
	text-align: center;
}

.ask_form {
	margin-top: 4%;
	font-size: 20px;
}

.input_form {
	margin-top: 3%;
}