.search {
	width: 80%;
}

.search_text {
	width: 30%;
}

.search_bottom {
	width: 8%;
}

.user {
	margin-top: 0.5%;
	text-align: center;
}

.form_log {
	margin-top: 15%;
}

.logs {
	margin-top: 2%;
}

.login_form {
	margin-top: 3%;
	width: 70%
}


#invisible {
	color: red;
	display: none;
}
