{% extends "include/base.html" %}
{% load static %}
{% block header %}
{% include "include/navbar_autorization.html" %}
{% endblock header %}

{% block content %}
    <div class="new_hot_question">
     New Question  
     <a href="{% url 'index' %}">Hot Question</a>
   </div>
    {% for question in questions %}
        {% include "include/question.html" %}
    {% endfor %}
{% endblock content %}

{% block pagination %}
{% include "include/pagination.html" %}
{% endblock pagination %}
{% block linkjs %}
<script type="text/javascript" src="{% static "js/like.js" %}"></script>
{% endblock linkjs %}
