{% extends "include/base.html" %}
{% load static %}
{% block header %}
{% include "include/navbar_autorization.html" %}
{% endblock header %}

{% block content %}
    <div class="new_hot_question">
     New Question  
     <a href="#3">Hot Question</a>
   </div>
    {% for question in questions %}
        {% include "include/question.html" %}
    {% endfor %}
{% endblock content %}

{% block footer %}
{% include "include/footer.html" %}
{% endblock footer %}
{% block linkjs %}
<script type="text/javascript" src="{% static "js/like.js" %}"></script>
{% endblock linkjs %}
