{% extends "include/base.html" %}
{% load static %}
{% block link %}
<link href="{% static "css/question.css" %}" rel="stylesheet">
{% endblock link %}
{% block header %}
{% include "include/navbar_noautorization.html" %}
{% endblock header %}
{% block content %}
          <div class="row">
            <div class="col-3">
              <img src="{% static "img/9320067.jpg" %}" id="main_ava">
              <button id="like_btn" class="btn">Like</button>
              <div class="likes">22</div>
            </div>
            <div class="col-9">
              <a href=#><h3>Lorem ipsum dolor sit amet,</h3></a>
              <div id="text_question">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </div>
             <div class="row_in_question">
              Tags:
              <a href="#4" class="black-jeck">black-jeck</a>
              <a href="#4">bender</a>
            </div>

          </div>
          <hr id="hr">
        </div>
        <div class="row question">
          <div class="col-3">
            <img src="img/9320067.jpg">
          </div>
          <div class="col-9">
            <a href=#><h3>Lorem ipsum dolor sit amet,</h3></a>
            <div>
             consectetur adipiscing elit. Cras rutrum ac purus sit amet euismod. Nulla varius molestie elit at feugiat. Etiam leo purus, ultricies non quam at, tempor viverra massa. Donec mattis faucibus mauris nec viverra. Nulla facilisi.
           </div> 
         </div>
         <div>
          <button id="like_btn" class="btn">Like</button>
          <div class="likes">22</div>
          <div class="row_in_question">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label" for="flexCheckChecked">
              Correct  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row question">
        <div class="col-3">
          <img src="img/9320067.jpg">
        </div>
        <div class="col-9">
          <a href=#><h3>Lorem ipsum dolor sit amet,</h3></a>
          <div>
           consectetur adipiscing elit. Cras rutrum ac purus sit amet euismod. Nulla varius molestie elit at feugiat. Etiam leo purus, ultricies non quam at, tempor viverra massa. Donec mattis faucibus mauris nec viverra. Nulla facilisi.
         </div> 
       </div>
       <div>
        <button id="like_btn" class="btn">Like</button>
        <div class="likes">22</div>
        <div class="row_in_question">
         <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
          Correct  </label>
        </div>
      </div>
    </div>
  </div>
  <hr id="hr">
  <form>
    <textarea class="form-control"  rows="4" placeholder="Enter your answer here.."></textarea>
    <button type="button" class="btn btn-secondary btn_answer">Answer</button>
  </form>
{% endblock content %}
